default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: todo_backend_development

test:
  <<: *default
  database: todo_backend_test

production:
  <<: *default
  database: todo_backend_production
  username: todo_backend
  password: <%= ENV['todo_BACKEND_DATABASE_PASSWORD'] %>
